{{!-- <footer class="container font-small bg-dark text-light">

  <div class="text-center">
    <p>Created by
      {{name}}</p>
  </div>

</footer> --}}

<footer class="footer fixed-bottom py-3 bg-dark">
  <div class="container">
    <span class="text-muted">Created by {{name}}</span>
  </div>
</footer>